table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

input.shipment-details-service__correios-action{
    background: none;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    padding: 0;
    cursor: pointer;
    color: #474fe9;
    text-decoration: underline;
}